[submodule "io/submodule.validation"]
	path = io/submodule.validation
	url = https://github.com/jerng-org/validation.js.git
[submodule "modules/submodule.mark.js"]
	path = modules/submodule.mark.js
	url = https://github.com/jerng-org/mark.js.git
